@import "tailwindcss";

:root {
  --font-family-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-family-mono:
    "JetBrains Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Source Code Pro", ui-monospace, SFMono-Regular, "SF Mono", Monaco,
    Inconsolata, "Roboto Mono", "Liberation Mono", Menlo, Consolas, monospace;
}

body {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variant-ligatures: common-ligatures;
}

code,
pre,
.font-mono {
  font-family: var(--font-family-mono);
}

.animate-delay-1 {
  animation-delay: 1s;
}

.animate-delay-2 {
  animation-delay: 2s;
}

.animate-delay-3 {
  animation-delay: 3s;
}
